.containerStyles {
    background-color: rgba(254, 254, 254, 0.592);
    backdrop-filter: blur(10px);
    opacity:100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:20vw;
    margin-left:14vw;
    margin-top:20px;
    cursor:pointer;
    transition: transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .containerStylesM {
    background-color: rgba(191, 198, 143, 0.351);
    backdrop-filter: blur(10px);
    opacity:100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:70vw;
    margin-left:18vw;
    margin-top:20px;
    cursor:pointer;
    transition: transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
.viga{
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.523) 100%);
    position: fixed;
    width: 50vw;
    height: 100vh;
    
}

.vigad{
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(234, 166, 71, 0.23) 100%);
  position: fixed;
  width: 110vw;
  height: 100vh;
  
}

  .containerStyles:hover {
    transform: scale(1.1);
  }

  .divfondo {
    background-image: url('../../imgs/juan.jpg'); /* Ruta relativa a la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Otros estilos de diseño según tus necesidades */
    width: 110%;
    height: 100vh; /* Cambia la altura según tus necesidades */
    overflow: hidden;
    position: absolute;
  }

  .divfondoM {
    background-image: url('../../imgs/juan.jpg'); /* Ruta relativa a la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Otros estilos de diseño según tus necesidades */
    margin-top: -2vw;
    width: 200%;
    height: 102vh; /* Cambia la altura según tus necesidades */
    overflow: hidden;
    position: absolute;
    left:-55vw;
    
  }