.vertical-line {
    width: 2px; /* Ancho de la línea vertical */
    height: 100vh; /* Altura igual a la altura de la ventana */
    background-color: #000; /* Color de la línea, puedes cambiarlo */
    position: absolute;
    left: 50%; /* Centra la línea horizontalmente */
    transform: translateX(-50%); /* Centra la línea verticalmente */
    z-index: 500;
  }
  .horizontal-line {
    width: 100%; /* Ancho igual al ancho de la ventana */
    height: 2px; /* Altura de la línea horizontal */
    background-color: #000; /* Color de la línea horizontal, puedes cambiarlo */
    position: absolute;
    top: 50%; /* Centra la línea horizontalmente */
    transform: translateY(-50%); /* Centra la línea verticalmente */
    z-index: 500;
  }